[gcp_service_account]
type = "service_account"
project_id = "SECRETS"
private_key_id = "CAN U IMAGINE IF NBA FRONT OFFICES HAD API ACCESS TO THIS"
private_key = """
-----BEGIN PRIVATE KEY-----
The FitnessGram™ Pacer Test is a multistage aerobic capacity test that 
progressively gets more difficult as it continues. The 20 meter pacer test will begin in 30 seconds. 
Line up at the start. The running speed starts slowly, but gets faster each minute after you hear this signal. 
[beep] A single lap should be completed each time you hear this sound. [ding] Remember to run in a straight line, 
and run as long as possible. The second time you fail to complete a lap before the sound, your test is over. 
The test will begin on the word start. On your mark, get ready, start.

-----END PRIVATE KEY-----
"""
client_email = "replace"
client_id = "replace_local"
auth_uri = "oauth_local"
token_uri = "token_global"
auth_provider_x509_cert_url = "google apis"
client_x509_cert_url = "g-service
universe_domain = "googleapis.com"
